.navbar {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
}

html {
    background-color: rgba(204, 204, 204, 0.096);
}


.rodap {
    transition: all .25s;
}

.rodap a {
    padding: .3em .5em;
    position: relative;
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: all .35s;

    &&:hover {
        color: #000000;
    }

    &&:active {
        color: rgb(255, 255, 255);
    }
}

.rodap a::before,
.rodap a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all 0.5s ease;
    opacity: 0;
}

.rodap a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: translate(-100%);
}

.rodap a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    transform: translate(100%)
}

.rodap a:hover:before,
.rodap a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(73, 73, 73);
    background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgb(136, 136, 136), rgb(68, 68, 68), rgb(138, 138, 138));
}

.user{
    position: relative;
}
.dropdown-item:active{
    background-color: rgb(131, 131, 131);
}