@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../resources/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;

}

html, body {
    min-height: 100vh;
}

body {
    background-color: #561AA4;
    font-family: "Inter";
    margin: 0px;
    font-size: 24px;
}

#linha-preta {
    height: 1.5px;
    width: 600px;
}

#div-geral {
    justify-content: center;
    margin: 0px;
}

form {    
    background-color: white;
    padding: 40px 55px;
    margin: 30px 100px;
    border-radius: 50px;
}

#bem-vindo {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#linha-preta-div {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#cadastre-se {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

.input-class {
    display: flex;
    padding: 10px;
    justify-content: center;
}

input {
    width: 600px;
    height: 60px;
    border-radius: 25px;
    border: #561AA4 solid;
    font-size: 20px;
}

input::placeholder {
    padding: 0px 0px 0px 20px;
}

#botao {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

button {
    width: 600px;
    height: 60px;
    border-radius: 25px;
    border-color: #ffffff00;
    background-color: #561AA4;
    font-size: 20px;
    color: #ffd;
}