* {
  margin: 0;
  padding: 0;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  }

.card-produto {
  padding: 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  display: inline-flex;
  margin: 10px;
}
.imagem-card {
  width: 30vh; 
  display: inline-flex;
}
img {
  display: inline-flex;
}
h2, h3 {
  font-size: 130%;
  display: inline-flex;
}
h3 {
  color: #535353;
}
a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.titulo-produto {
  display: inline-flex;
  text-align: start;
  word-wrap: break-word;
}
.div-botao {
  display: flex;
  justify-content: space-between;
}
.button-card-outline {
  background-color: #fff;
  color: #561aa4;
  border: 3px solid #561aa4;
  border-radius: 10px;
  font-size: 77%;
  font-weight: bold;
}
