#coracao-favoritar1 {
    cursor: pointer;
}
#coracao-favoritar2 {
    cursor: pointer;
}
#coracao-favoritar3 {
    cursor: pointer;
}
#coracao-favoritar4 {
    cursor: pointer;
}
#coracao-favoritar5 {
    cursor: pointer;
}
#coracao-favoritar6 {
    cursor: pointer;
}
#coracao-favoritar7 {
    cursor: pointer;
}
#coracao-favoritar8 {
    cursor: pointer;
}
#coracao-favoritar9 {
    cursor: pointer;
}
#coracao-favoritar10 {
    cursor: pointer;
}
#coracao-favoritar11 {
    cursor: pointer;
}
#coracao-favoritar12 {
    cursor: pointer;
}
#coracao-favoritar13 {
    cursor: pointer;
}
#coracao-favoritar14 {
    cursor: pointer;
}