* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.global {
    display: inline-flex;
    align-items: center;
}

.esquerda {
    width: 55%;
    background-color: #fefefe;
    height: 645px;
    max-height: 100vh;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.icone-info img {
    width: 60px;
    height: 60px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.esquerda h2 {
    color: #555;
    font-size: 34px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}

.esquerda p {
    font-size: 22px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.esquerda ul {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.esquerda ul li {
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
}

.direita {
    background-color: #561aa4;
    color: white;
    border-radius: 30px 0 0 30px;
    padding: 40px;
    width: 45%;
    height: 645px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direita h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: white;
}

#informacao {
    font-size: 18px;
    color: rgba(228, 218, 218, 0.822);
    margin-left: 15px;
}

#instrucoes {
    font-size: 14px;
    margin-bottom: 30px;
    color: rgba(228, 218, 218, 0.822);
}

form {
    display: flex;
    flex-direction: column;
}

#div-email {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    background: #ffffff;
    height: 50px;
    border-radius: 7.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
}

#input-email {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 490px;
    margin-left: 5px;
}

button {
    padding: 10px;
    background-color: white;
    color: #561aa4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    margin-right: 48px;
}

#botão {
    justify-content: end;
    display: flex;
}

button:hover {
    background-color: #fdfdfd69;
}

@media (max-width: 375px) {
    
}
