* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
}

body {
    background-color: #561AA4;
    margin: 0px;
}

#linha-preta {
    height: 1.5px;
    width: 600px;
}

#div-geral {
    justify-content: center;
    margin: 0px;
}

#form-pagamento {    
    background-color: white;
    padding: 40px 55px;
    margin: 30px 100px;
    border-radius: 50px;
}

#finalizar-compra {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#linha-preta-div {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#selecionar-titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#metodos-pagamento {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
}

.form-check {
    display: flex;
}

#div-botao-pagamento {
display: flex;
padding: 30px;
justify-content: center; 
}

#botao-pagamento {
    padding: 10px 0px;
    width: 600px;
    height: 60px;
    border-radius: 25px;
    border-color: #ffffff00;
    background-color: #561AA4;
    font-size: 20px;
    color: #ffd;
}

.image{


}
