* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

.login-drop {
    text-decoration: none;
    color: #fff;
}

.login-drop:hover {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    background-color: #291343;
    height: 100px;
    justify-content: space-between;
    padding: 31px;
}

#img-logo {
    width: 200px;
}

#input-pesquisa {
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#button-pesquisa {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: -30px;
}

#img-lupa {
    height: 20px;
    padding: 0px 0px 3px 10px;
}

#div-direita-header {
    padding: 0px 15px;
    justify-content: space-between;
}

#div-dropdown {
    display: inline-flex;
    padding: 0px;
}

.dropdown2:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a{
    display: block;
}

.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    color: white;
    text-decoration: none;
    background-color: #291343;
    padding: 0px 0px 10px 10px;
    border-radius: 10px;
    border: none;
}

#div-carrinho {
    display: inline;
    padding: 0px 10px 0px 5px;
}

#div-favorito {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
}

nav > a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

nav > a:hover {
    color: #000;
    text-decoration: none;
}

h1 {
    padding: 0px 0px 1rem 2rem;
}

a > h5, h6 {
    color: #000;
    text-decoration: none;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }

  .card-produto {
    margin: 0 0.5em;
  }

  
.carousel-control-prev,
.carousel-control-next {
    background-color: #561aa4;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 3vh;
}
      
.carousel-control-prev {
}
.card-produto {
    padding: 10px;
    border: rgb(170, 170, 170) 1px solid;
    border-radius: 10px;
    }
    
h2 {
    font-size: 130%;
    }
        
h3 {
    font-size: 130%;
    color: #535353;
    }

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}
            
#produtos {
    display: flex;
    flex-flow: row nowrap;
}
                
.titulo-produto {
    text-align: start;
    word-wrap: break-word;
}

.div-botao {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.coracao-favoritar {
    width: 20%;
    height: 20%;
}

.button-card-outline {
    width: 70%;
    background-color: #fff;
    color: #561aa4;
    border: 3px #561aa4 solid;
    border-radius: 10px;
    font-size: 77%;
    font-weight: bold;
}

#coracao-favoritar {
    cursor: pointer;
}

.carousel {
    padding-bottom: 40px;
}

footer {
    background-color: #291343;
    color: #eeeeee;
}

#footer-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#sobre-footer {
    padding-top: 20px;
}

#social-footer {
    display: flex;
    flex-flow: row;
}

#logos-footer {
    display: flex;
    flex-flow: row;
    padding-left: 5px;
}
