* {
    margin: 0px;
    padding: 0px;
    text-align: justify
}

html, body {
    min-height: 100vh;
}

.login-drop {
    text-decoration: none;
    color: #fff;
}

.login-drop:hover {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    background-color: #291343;
    height: 100px;
    justify-content: space-between;
    padding: 31px;
}

#img-logo {
    width: 200px;
}

#input-pesquisa {
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#button-pesquisa {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: -30px;
}

#img-lupa {
    height: 20px;
    padding: 0px 0px 3px 10px;
}

#div-direita-header {
    padding: 0px 15px;
    justify-content: space-between;
}

#div-dropdown {
    display: inline-flex;
    padding: 0px;
}

.dropdown2:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a{
    display: block;
}

.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    color: white;
    text-decoration: none;
    background-color: #291343;
    padding: 0px 0px 10px 10px;
    border-radius: 10px;
    border: none;
}

#div-carrinho {
    display: inline;
    padding: 0px 10px 0px 5px;
}

#div-favorito {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
}

nav > a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

nav > a:hover {
    color: #000;
    text-decoration: none;
}

#container {
    width: 98.9%;
    padding: 0px 0px 0px 1em;
}

#instagram {
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
}
header.sticky{
    background: #291343;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}