@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-height: 100vh;
    max-height: 100vh;
}

body {
    font-family: "Josefin-Sans", sans-serif;
    background-image: url(../resources/images/fundo-login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 40px;
}

a {
    color: white;
}

#container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7% 12%;
}

#logo {
    align-items: center;
}

form {
    background-color: #561AA4;
    color: #fff;
    padding: 40px 55px;
    margin: 10px;
    border-radius: 20px;
}

#titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#usuario {
    display: flex;
    padding: 10px 0px 0px 5px; 
}

#usuario-input {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center;
    
}


#senha {
    display: flex;
    padding: 10px 0px 0px 5px;
    
    
}

#senha-input {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center;    
}

.input-usuario-senha {
    width: 230px;
    height: 30px;
    border-radius: 8px;
    color: #561AA4;
    border: 0px
}

#checkbox {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#checkbox-lembrar {
    background: #561AA4;
    accent-color: #561AA4;
}

#esqueceu-a-senha {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center;    
}

#botao {
    display: flex;
    padding: 10px 0px 15px 0px;
    justify-content: center;
    border: 0px;
    color: #561AA4;
}

#inscrever-se {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#enviar {
    width: 220px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #561AA4;
    font-family: "Josefin-Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#entrar-com {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#google-facebook {
    display: flex;
    padding: 10px 89px;
    justify-content: space-between;
    
}

#titulo-login {
    padding-bottom: 10px;
}

#login {
    padding: 10px 0px 10px 0px;
}

#google {
    width: 25px;
    height: 25px;
}

#facebook {
    width: 25px;
    height: 25px;
}