@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

body {
    background-color: #431b77;
    font-family: "Josefin-Sans", sans-serif;
}

a {
    color: white;
}

#container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12%;
}

#logo {
    align-items: center;
}

#formulario {
    
}

form {
    background-color: #561AA4;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#usuario {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#senha {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#checkbox {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#botao {
    display: flex;
    padding: 10px 0px 15px 0px;
    justify-content: center;
    
}

#inscrever-se {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#entrar-com {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#google-facebook {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#titulo-login {
    padding-bottom: 10px;
}

#login {
    padding: 10px 0px 10px 0px;
}

#google {
    width: 25px;
    height: 25px;
}

#facebook {
    width: 25px;
    height: 25px;
}