@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Josefin-Sans", sans-serif;
    background-image: url(../resources/images/fundo-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
}

a {
    color: white;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    align-items: center;
}

form {
    background-color: #561AA4;
    color: #fff;
    padding: 40px 55px;
    margin: 10px;
    border-radius: 20px;
}

form.cadastro {
    background-color: #561AA4;
    color: #fff;
    padding: 25px 55px;
    margin: 10px;
    border-radius: 20px;
}

#titulo.cadastro {
    display: flex;
    padding: 5px 0px;
    justify-content: center; 
}

#titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#nome-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#nome-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#sobrenome-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#sobrenome-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#email-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#email-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#senha-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#senha-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;    
}

#cpf-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#cpf-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;    
}

input:focus {
    outline: none;
}

.input-email-senha {
    width: 230px;
    height: 35px;
    border-radius: 8px;
    color: #561AA4;
    border: 0px;
    padding: 0px 0px 0px 5px;
    font-weight: bold;
}

#checkbox {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#checkbox-lembrar {
    background: #561AA4;
    accent-color: #561AA4;
}

#esqueceu-a-senha {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center;    
}

#botao {
    display: flex;
    padding: 10px 0px 15px 0px;
    justify-content: center;
    border: 0px;
    color: #561AA4;
}

#inscrever-se {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#enviar {
    width: 220px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #561AA4;
    font-family: "Josefin-Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#radios {
    display: inline-flex;
}

#sexo-div {
    padding-bottom: 10px;
}

.label-sexo {
    padding: 0px 5px;
}

#login-content{
    transform: translateX(-25%);
}

#logo{
    transform: translateX(-55%);
}

#login-content.show {
    transform: translateX(-25%);
    transition: 1s;
}

#login-content.hide {
    transform: translateX(100%);
    transition: 1s;
}

#cadastro-content.hide {
    transform: translateX(-150%);
    transition: 1s;
}

#cadastro-content.show {
    transform: translateX(45%);
    transition: 1s;
}

#logo.show{
    transform: translateX(-55%);
    transition: 1s;
}

#logo.hide{
    transform: translateX(55%);
    transition: 1s;
}

#error-msg {
    display: inline-flex;
    background-color: rgb(255, 150, 150);
    color: #ff0000;
    padding: 10px;
    position: absolute;
    transform: translate(275%, -1700%);
    border-radius: 10px;
    border: #ff0000 3px solid;
}

#error-msg.show {
    transform: translateY(50%);
    transition: .7s;
}

#error-msg.hide {
    transform: translateY(-110%);
    transition: .7s;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    #login-content{
        transform: translate(0, -110%);
    }
    
    #logo {
        transform: translate(0, -275%);
    }
    
    #login-content.show {
        transform: translate(0, -110%);
        transition: 1s;
    }
    
    #login-content.hide {
        transform: translate(0, 20%);
        transition: 1s;
    }
    
    #cadastro-content.hide {
        transform: translate(0, -100%);
        transition: 1s;
    }
    
    #cadastro-content.show {
        transform: translate(0, 10%);
        transition: 1.5s;
    }
    
    #logo.show{
        transform: translate(0, -275%);
        transition: 1s;
    }
    
    #logo.hide {
        transform: translate( 0, 30%);
        transition: 1s;
    }
}