@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-height: 100vh;
    max-height: 100vh;
}

body {
    font-family: "Josefin-Sans", sans-serif;
    background-image: url(../resources/images/fundo-login.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 40px;
}

a {
    color: white;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7% 12%;
}

#logo {
    align-items: center;
}

form {
    background-color: #561AA4;
    color: #fff;
    padding: 40px 55px;
    margin: 10px;
    border-radius: 20px;
}

#titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: center; 
}

#nome-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#nome-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#sobrenome-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#sobrenome-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#email-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#email-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

#senha-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#senha-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;    
}

#cpf-div {
    display: flex;
    padding: 0px 0px 0px 5px; 
}

#cpf-input-div {
    display: flex;
    padding: 0px 0px 20px 0px;
    justify-content: center;    
}

input:focus {
    outline: none;
}

.input-email-senha {
    width: 230px;
    height: 35px;
    border-radius: 8px;
    color: #561AA4;
    border: 0px;
    padding: 0px 0px 0px 5px;
    font-weight: bold;
}

#checkbox {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#checkbox-lembrar {
    background: #561AA4;
    accent-color: #561AA4;
}

#esqueceu-a-senha {
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: center;    
}

#botao {
    display: flex;
    padding: 10px 0px 15px 0px;
    justify-content: center;
    border: 0px;
    color: #561AA4;
}

#inscrever-se {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    
}

#enviar {
    width: 220px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #561AA4;
    font-family: "Josefin-Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#radios {
    display: inline-flex;
}

#sexo-div {
    padding-bottom: 10px;
}

.label-sexo {
    padding: 0px 5px;
}

.div-erro {
    display: inline-flex;
    background-color: rgb(255, 150, 150);
    color: #ff0000;
    padding: 10px;
    position: absolute;
    transform: translate(275%, -1700%);
    border-radius: 10px;
}