@font-face {
    font-family: "Josefin-Sans";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Josefin-Sans-Italic";
    src: url(../resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin-Sans', arial, sans-serif;
}

html, body {
    height: 100%;
}

button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*Header*/

.div-barra-pesquisa {
    width: 100vh;
    height: 7vh;
}

.input-pesquisa {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 16px;
    width: 100vh;
    margin-left: 5px;
}

#button-pesquisa {
    outline: none;
    border: none;
    background-color: #ffffff00;
    padding: 5px;
    margin-bottom: 2.5px;
    transition: transform .2s;
}

#img-lupa {
    height: 23px;
}

#button-pesquisa:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#div-direita-header {
    margin-top: -2.5px;
    justify-content: space-around;
    display: inline-flex;
    a{
        transition: all .5s;
    }
}

#div-direita-header > a:hover{
    transform: scale(1.05);
}

.img-header {
    padding: 0px 8px;
    transition: all .5s;
}

.img-header:hover{
    transform: scale(1.07);
}

#div-dropdown {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
}

#dropdown-menu{
    transition: all 2s;
}

.dropdown-menu{
    position: absolute;
    display: none;
    a{
        display: flex;
    }
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    color: white;
    text-decoration: none;
    background-color: #291343;
    padding: 0px 0px 10px 10px;
    border-radius: 10px;
    border: none;
    margin: 0;
}

#botao-logout {
    background-color: #291343;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 0px 130px;
    width: 100%;
}

nav > a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: transform .3s;
}

nav > a:hover {
    color: #000;
    transform: scale(1.05);
    text-decoration: none;
}

a > h5, h6 {
    color: #000;
    text-decoration: none;
}
/*Header*/

/*Cards*/
.produtos {
    display: flex;
    flex-wrap: wrap;
}

.cards-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    transition: .3s;
}

.cards-wrapper:hover{
    transform:scale(.99);
}

.card-produto {
    padding: 10px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    display: inline-flex;
    margin: 5px;
    align-items: flex-start;
}

.imagem-card {
    width: 30vh; 
    display: inline-flex;
}

h2, h3 {
    font-size: 130%;
    display: inline-flex;
    word-wrap: break-word;
}

h3 {
    color: #535353;
}

.card-produto > a {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}

.card-produto > a:hover {
    text-decoration: none;
    color: #000;
}

.titulo-produto {
    display: inline-flex;
    text-align: start;
}

.nome-produto {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width: 12em;
}

.div-botao {
    display: flex;
    justify-content: space-between;
}

.favoritar {
    border: none;
    background-color: #ffffff00;
    transition: transform .3s
}
.favoritar:hover {
    transform: scale(1.1);
}

.button-card-outline {
    cursor: pointer;
    background-color: #fff;
    color: #561aa4;
    border: 3px solid #561aa4;
    border-radius: 10px;
    font-size: 77%;
    font-weight: bold;
    padding-left: 2.5px;
    padding-right: 2.5px;
    transition: transform .3s;
    a{
        color: #561AA4;
    }
}
.button-card-outline:hover{
    background-color: #561AA4;
    color: rgb(255, 255, 255);
    border: 3px solid #561AA4;
    transform: scale(1.05);
    transition: 1s;
    a{
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;}
}
/*Cards*/

/*Footer*/
footer {
    background-color: #291343;
    padding: 20px 30px 0px 30px;
    color: #fff;
    margin-top: 50px;
}

#footer-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#sobre-footer {
    padding-top: 20px;
}

#social-footer {
    display: flex;
    flex-flow: row;
}

#logos-footer {
    display: flex;
    flex-flow: row;
    padding-left: 5px;
}

.div-email {
    border-radius: 20px;
    width: 300px;
    background-color: white;
    background: #ffffff;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.input-email {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 300px;
}

#seta-direita {
    border-radius: 50%;
    background-color: #561aa4;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#btn-enviar {
    border: none;
    background: none;
    outline: none;
}

li {
    list-style: none;
}
#footer-top {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    padding-bottom: 50px;
}

#section1 {
    grid-column: 1;
}

#section2 {
    grid-column: 3;
}

#section3 {
    grid-column: 4;
    
}

#section4 {
    grid-column: 5;

}

#logo-footer {
    width: 70%;
    height: auto;
    padding-bottom: 20px;
}

#footer-bottom {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    row-gap: 20px;
}

#linha {
    background-color: #fff;
    height: 2px;
    width: 90vw;
}

#direitos {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
/*Footer*/