h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
    color: #555555;
}

.text {
    padding-top: 10px;
}

#imagem-produto {
    display: inline-flex;
}

.class-botoes {
    padding: 10px 10px 0px 0px;
}

#adicionar-carrinho {
    width: 200px;
    background-color: white;
}

#comprar-agora {
    width: 200px;
    font-size: 20px;
}

#container {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 150px 0px 40px;
    flex-direction: row;
}

#botao-quantidade-mais {
    margin: none;
    padding: 0px 3px 2px 0px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
}

#img-produto {
    max-height: 30rem;

}

#div-conteudo {
    margin-left: 45px;
}
