#div-tabela {
    padding-left: 10px;
}

table {
    border: 3px #291343 solid;
}

th {
    padding-right: 15px;
    border: 3px #291343 solid;
}

td {
    padding-right: 20px;
    border: 3px #291343 solid;
}

.link-acao {
    color: #561aa4;
    text-decoration: underline;
}